In [182]:
import pandas as pd
import numpy as np

In [183]:
df=pd.read_csv("./results/pruneSensitivity.csv")
trueValue=pd.read_csv("./results/PruneTrue.csv")

In [184]:
models=list(set(list(map(lambda x:x.split("_K=")[0],list(set(df["model"]))))))
print(models)

['normalmixtures', 'radarquery', 'clickgraph', 'bernoulli', 'clinicaltrial']

In [193]:
#for m in models:
for m in trueValue["model"].to_string(index=False).split("\n"):
    m=m.strip()
    print(m)
    gt=trueValue[trueValue["model"]==m]
    gt=gt["value"].iloc[0]
    g=df[df['model'].str.contains(m)].sort_values(by='model', ascending=False)
    #print(g)
    res=g.apply(lambda x:f"{x[1]:02.2f} & {(abs(gt-float(x[2]))):02.4f}",axis=1)
    print(" & ".join(res.to_string(index=False).split("\n"))+"\\\\")

bernoulli
Series([], )\\
clickgraph
Series([], )\\
clinicaltrial
Series([], )\\
normalmixtures
Series([], )\\
radarquery
Series([], )\\

## Table2 Script

In [199]:
df=pd.read_csv("./results/varSensitivity.csv").sort_values(by='#vars', ascending=True)

In [197]:
df

        model  #vars        time    value      time.1   value.1
0  timeseries      9   47.393739  3.21674   33.490190  2.042000
1  timeseries      5    1.095640  2.87916    2.657117  2.853560
2  timeseries      4    0.351582  2.36094   18.148425  2.021210
3  timeseries      8   23.790447  3.24248   26.963656  2.233850
4  timeseries     10  104.350614  3.18213  137.610735  2.423190
5  timeseries      3    0.121147  1.99895    1.867647  1.149960
6  timeseries      2    0.044502  2.04783    5.604770  2.038800
7  timeseries      1    0.017614  0.99768    4.157893  0.998945
8  timeseries      7    9.725728  3.94455    6.847132  4.206410
9  timeseries      6    3.352383  2.77245   24.069553  2.011210